p { font-size: clamp(12px, 1.5vw + 1em, 16px); }
h1 { font-size: clamp(1.8rem, 5vw, 4em); }
h2 { font-size: clamp(1.5rem, 4vw, 3em); }
h3 { font-size: clamp(1.3rem, 3vw, 2.5em); }
h4 { font-size: clamp(1.2rem, 2.5vw, 2em); }
h5 { font-size: clamp(1.1rem, 2vw, 1.8em); }
h6 { font-size: clamp(1rem, 1.5vw, 1.5em); }

.container {
  background-color: #e3d9d3;
  color: black;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 95vw;
}

.container::before {
  content: "";
  position: absolute;
  top: 7rem;
  left: 1rem;
  border-top: 2px solid #561c24;
  border-left: 2px solid #561c24;
  width: 20%;
  height: 20%;
}

.container::after {
  content: "";
  position: absolute;
  bottom: 7rem;
  right: 1rem;
  border-bottom: 2px solid #561c24;
  border-right: 2px solid #561c24;
  width: 20%;
  height: 20%;
}

.content {
  padding: 40px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
}

@media only screen and (max-width: 620px) {
  .content {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 420px) {
  .content {
    font-size: 1rem;
  }
}

.line-top-bottom {
  position: relative;
}

.line-top-bottom::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 10%;
  border-top: 2px solid white;
  width: 80%;
}

.line-top-bottom::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  right: 10%;
  border-bottom: 2px solid white;
  width: 80%;
}

.line-bottom {
  position: relative;
}

.line-bottom::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: 10%;
  border-bottom: 1px solid white;
  width: 80%;
}

.introduction-eva {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}

.intro-eva-1 { grid-area: 1 / 1 / 3 / 2; }
.intro-eva-2 { grid-area: 1 / 2 / 2 / 3; }
.intro-eva-3 { grid-area: 2 / 2 / 3 / 3; }

.introduction-mathias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.intro-mathias-1 { grid-area: 1 / 2 / 3 / 3; }
.intro-mathias-2 { grid-area: 1 / 1 / 2 / 2; }
.intro-mathias-3 { grid-area: 2 / 1 / 3 / 2; }