<section
  class="h-[80vh] flex flex-wrap justify-center flex-row items-center lg:gap-32 md:gap-20 sm:gap-16"
>
  <div class="text-center text-white text-6xl line-bottom top-16">
    <h1>Über uns</h1>
  </div>
  <div class="text-center flex justify-center">
    <img
      src="https://as1.ftcdn.net/v2/jpg/03/45/05/92/1000_F_345059232_CPieT8RIWOUk4JqBkkWkIETYAkmz2b75.jpg"
      alt="BILD"
      class="w-[45%] h-[45%]"
    />
  </div>
</section>
<section class="flex justify-center items-center bg-[#E3D9D3]">
  <div class="container">
    <div class="content">
      <h6>
        Wir sind sowohl beruflich als auch privat ein eingespieltes Team. In der
        Physiotherapie haben wir unsere Leidenschaft zum Beruf gemacht, denn
        Bewegung ist für uns nicht nur eine Tätigkeit, sondern ein Lebensstil.
      </h6>
      <br />
      <h6>
        Man trifft uns daher auch außerhalb der Praxis mit Laufschuhen auf den
        Straßen oder in den Bergen, auf der Matte im Yogastudio oder an der
        Kletterwand.
      </h6>
    </div>
  </div>
</section>

<section class="h-[80vh] flex justify-center items-center">
  <div class="line-top-bottom max-w-[60vw] relative">
    <h6
      class="text-white text-lg md:text-3xl text-center md:text-center leading-relaxed md:leading-relaxed md:ml-[-3rem] md:mr-[-3rem]"
    >
      Gemeinsam bringen wir Bewegung in Ihr Leben und begleiten Sie auf Ihrem
      Weg zu mehr Gesundheit und Wohlbefinden.
    </h6>
    <div class="line-top-bottom__horizontal"></div>
  </div>
</section>

<section class="bg-[#e3d9d3] w-[100vw] p-10">
  <div class="flex flex-row flex-wrap justify-around gap-2 w-full items-center p-5">
    <span class="w-[40vw] h-[25vh] flex justify-center items-center min-w-[652px]">
      <img src="" alt="" class="border-2 border-black w-[30%] h-full"/>
    </span>
    <span class="w-[40vw] flex justify-center items-center flex-col min-w-[652px]">
      <h1>Eva Limberger</h1>
      <p class="w-[40%]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, odit
        unde illum hic quidem corporis distinctio sequi iusto, ipsam sed dolorum
        aut doloribus iste molestiae dolore veritatis tempora non. Aliquam?
      </p>
      <details class="dropdown">
        <summary class="m-1 btn">open or close</summary>
        <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
          <li><a>Item 1</a></li>
          <li><a>Item 2</a></li>
        </ul>
      </details>
    </span>
  </div>
    <div class="flex flex-row-reverse flex-wrap justify-around gap-2 w-full items-center p-5">
    <span class="w-[40vw] h-[25vh] flex justify-center items-center min-w-[652px]">
      <img src="" alt="" class="border-2 border-black w-[30%] h-full"/>
    </span>
    <span class="w-[40vw] flex justify-center items-center flex-col min-w-[652px]">
      <h1>Eva Limberger</h1>
      <p class="w-[40%]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, odit
        unde illum hic quidem corporis distinctio sequi iusto, ipsam sed dolorum
        aut doloribus iste molestiae dolore veritatis tempora non. Aliquam?
      </p>
      <details class="dropdown">
        <summary class="m-1 btn">open or close</summary>
        <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
          <li><a>Item 1</a></li>
          <li><a>Item 2</a></li>
        </ul>
      </details>
    </span>
  </div>
</section>

<section>
  <div
    class="flex flex-col justify-center items-center text-white gap-5 h-[60vh]"
  >
    <h1 class="text-5xl text-center">Termin Buchen</h1>
    <button class="btn btn-active btn-lg" routerLink="../kontakt">
      Zur Kontakt
    </button>
  </div>
</section>
