<section
  class="h-[80vh] flex flex-wrap justify-center items-center lg:gap-32 md:gap-20 sm:gap-16"
>
  <div class="text-center text-white text-6xl line-bottom top-16">
    <h1>Über uns</h1>
  </div>
  <div class="text-center">
    <img
      src="https://plus.unsplash.com/premium_photo-1707074545754-b4b0f71f8623?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="BILD"
      class="w-[40vw] aspect-square"
    />
  </div>
</section>
<section class="flex justify-center items-center bg-[#E3D9D3]">
  <div class="container">
    <div class="content">
      <p>
        Wir sind sowohl beruflich als auch privat ein eingespieltes Team. In der
        Physiotherapie haben wir unsere Leidenschaft zum Beruf gemacht, denn
        Bewegung ist für uns nicht nur eine Tätigkeit, sondern ein Lebensstil.
      </p>
      <br />
      <p>
        Man trifft uns daher auch außerhalb der Praxis mit Laufschuhen auf den
        Straßen oder in den Bergen, auf der Matte im Yogastudio oder an der
        Kletterwand.
      </p>
    </div>
  </div>
</section>

<section class="h-[80vh] flex justify-center items-center">
  <div class="line-top-bottom max-w-[60vw] relative">
    <p
      class="text-white text-lg md:text-3xl text-center md:text-center leading-relaxed md:leading-relaxed md:ml-[-3rem] md:mr-[-3rem]"
    >
      Gemeinsam bringen wir Bewegung in Ihr Leben und begleiten Sie auf Ihrem
      Weg zu mehr Gesundheit und Wohlbefinden.
    </p>
    <div class="line-top-bottom__horizontal"></div>
  </div>
</section>

<section class="bg-[#e3d9d3] h-[80vh] p-20">
  <div class="introduction-eva h-1/2">
    <div class="intro-eva-1 flex justify-center">
      <img
        src="https://images.pexels.com/photos/4029925/pexels-photo-4029925.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
        class="w-32"
      />
    </div>
    <div class="intro-eva-2">
      <h2>Eva Limberger</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis sequi
        earum ut molestiae ducimus! Sed commodi blanditiis, temporibus deserunt
        quis, aut iusto nemo dolorum nam eligendi quo iure ducimus laborum?
      </p>
    </div>
    <div class="intro-eva-3">
      <details class="dropdown">
        <summary class="m-1 btn">Zusatzausbildungen</summary>
        <ul
          class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52"
        >
          <li><a>Item 1</a></li>
          <li><a>Item 2</a></li>
        </ul>
      </details>
    </div>
  </div>
  <div class="introduction-mathias h-1/2">
    <div class="intro-mathias-1 flex justify-center">
      <img
        src="https://images.pexels.com/photos/4029925/pexels-photo-4029925.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
        class="w-32"
      />
    </div>
    <div class="intro-mathias-2">
      <h2>Mathias Binder</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis sequi
        earum ut molestiae ducimus! Sed commodi blanditiis, temporibus deserunt
        quis, aut iusto nemo dolorum nam eligendi quo iure ducimus laborum?
      </p>
    </div>
      <div class="intro-mathias-3">
        <details class="dropdown">
          <summary class="m-1 btn">Zusatzausbildungen</summary>
          <ul
            class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52"
          >
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
          </ul>
        </details>
      </div>
  </div>
</section>

<section>
  <div
    class="flex flex-col justify-center items-center text-white gap-5 h-[60vh]"
  >
    <h1 class="text-5xl text-center">Termin Buchen</h1>
    <button class="btn btn-active btn-lg" routerLink="../kontakt">
      Zur Kontakt
    </button>
  </div>
</section>
