<body class="bg-[#FDF0D1] card-grid pb-10">
  <div class="bg-[#561c24] flex flex-row max-w-5xl text-white text-center flex-nowrap justify-around items-center p-5 rounded-3xl pt-10 pb-10 card-1 z-10">
    <div class="max-w-[50%]">
      <h3 class="mb-4 font-bold">Traumatologie</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores
        numquam repellat recusandae illo necessitatibus expedita adipisci
        distinctio saepe quisquam, dolor rem ex porro maiores dolorem ut nemo
        qui eveniet. Natus.
      </p>
    </div>
    <div class="w-48 h-48 border-2 border-white">
      <span></span>
    </div>
  </div>
  <div class="bg-[#693336] flex flex-row max-w-5xl text-white flex-nowrap justify-start items-center p-5 rounded-3xl pt-10 pb-10 card-2 pl-14">
    <div class="max-w-[50%]">
        <h3 class="mb-4 font-bold text-2xl">Traumatologie</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores
          numquam repellat recusandae illo necessitatibus expedita adipisci
          distinctio saepe quisquam, dolor rem ex porro maiores dolorem ut nemo
          qui eveniet. Natus.
        </p>
      </div>
  </div>
  <div class="bg-[#561c24] flex flex-row-reverse max-w-5xl text-white text-center flex-nowrap justify-around items-center p-5 rounded-3xl pt-10 pb-10 card-3 z-10">
    <div class="max-w-[50%]">
        <h3 class="mb-4 font-bold text-2xl">Sportphysiotherapie</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores
          numquam repellat recusandae illo necessitatibus expedita adipisci
          distinctio saepe quisquam, dolor rem ex porro maiores dolorem ut nemo
          qui eveniet. Natus.
        </p>
      </div>
      <div class="w-48 h-48 border-2 border-white">
        <img src="" alt="" />
      </div>
  </div>
  <div class="bg-[#693336] flex flex-row max-w-5xl text-white flex-nowrap justify-start items-center p-5 rounded-3xl pt-10 pb-10 card-4 pl-14">
    <div class="max-w-[50%]">
        <h3 class="mb-4 font-bold text-2xl">Traumatologie</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores
          numquam repellat recusandae illo necessitatibus expedita adipisci
          distinctio saepe quisquam, dolor rem ex porro maiores dolorem ut nemo
          qui eveniet. Natus.
        </p>
      </div>
  </div>
  <div class="bg-[#561c24] flex flex-row max-w-5xl text-white text-center flex-nowrap justify-around items-center p-5 rounded-3xl pt-10 pb-10 card-5 z-10">
    <div class="max-w-[50%]">
        <h3 class="mb-4 font-bold text-2xl">Yoga-Einzelstunde</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores
          numquam repellat recusandae illo necessitatibus expedita adipisci
          distinctio saepe quisquam, dolor rem ex porro maiores dolorem ut nemo
          qui eveniet. Natus.
        </p>
      </div>
      <div class="w-48 h-48 border-2 border-white">
        <img src="" alt="" />
      </div>
  </div>
</body>
